@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Cormorant+Garamond:ital,wght@0,300;1,400&family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Cormorant+Garamond:ital@1&family=Inter:wght@600;800&display=swap');

.dot {
    height: 105px;
    width: 105px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    top: 50%;
  }

.center {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#notes-block {
    /*border: 2px solid green;*/
    margin:10px;
    font-size: smaller;
    font-family: 'Century Gothic';
    line-height: 90%;

}

#summary-experience-block {
    /*border: 2px solid green;*/
    
    margin:40px;
    margin-left:50px;
    margin-right:50px;
    font-size: 11px;
    font-family: 'Century Gothic';
    line-height: 90%;
    padding:20px;

}

.summary-experience-block-title {
    
    font-family: 'INTER';
    font-size: 17px;
    font-style:italic;
    font-weight:500;
    line-height: 90%;
    color: #D13A32;

}
#main-center-name-block {
    /*border: 2px solid green;*/
    margin:10px;
    font-family: 'Cormorant Garamond';
    font-weight:800;
    font-style:italic;
    font-size:larger;
    margin: auto;
    padding:10px;
    width:100%;
    max-width:600px;
}

#more {
    /*border: 2px solid green;*/
    font-family: 'Cormorant Garamond';
    font-weight:800;
    font-style:italic;
    font-size:18px;
    text-align:center;
}

#more-parent {
    /*border: 2px solid green;*/
    margin: 0 auto;
    width:100px;
}
.sticky{
    position:sticky;
    top: 0px;
    background-color: #D1DFFF;
    color: #fff;
    padding: 13px;
    padding-bottom:8px;
    text-align:center;
    font-size:18px;
    z-index: 10;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
        
}
li {
    display: inline;
    float: right;
    margin-right:5px;
    margin-left:10px;

}
a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    color:#D1DFFF;
    text-decoration: none;
    font-family:'Cormorant Garamond';
    font-style:italic;
    font-weight:800;

}
.ellipse:hover {
    background-color: #9a2822;
}
.ellipse{
    background-color: #D13A32;
    height: 40px;
    width: 88px;
    border-radius: 50%; 
    margin-top:1px;
    margin-bottom:5px;
}
.ellipse-more:hover {
    background-color: #aac4ff;
}
.ellipse-more{
    background-color: #D1DFFF;
    height: 40px;
    width: 88px;
    border-radius: 50%; 
}
    
#email-hove:hover {
    color: #9a2822;
}


.col-md-6 {
    margin-top:10px; 
    padding-bottom:10px;
}

.vert-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74vh;
    min-height:300px;
    
}
.image-slideshow{
    display:none;
    border:4px solid #D1DFFF;
}


.about-subheading-role-description{
    text-decoration: none;
    font-family:'Cormorant Garamond';
    font-style:italic;
    font-weight:800;
    font-size:medium;
}



.scrolling_text {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    font-weight: 800;
}

@keyframes animate_text {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
}
.text {
    font-size: 25px;
    color: #003049;
    animation: animate_text 30s linear infinite; /* The animation property */
    font-family: 'INTER';
    font-style:italic;
}

.image-test {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

.middle-test {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

/* experience photo darkens on hover */
.container-test:hover .image-test {
    filter:brightness(70%);     
}

.container-test:hover .middle-test {
    opacity: 1;
  }
  
/* hovering over experience shows */
.text-test {
    background-color: #003049;
    color: #D1DFFF;
    font-size: 13px;
    font-family:Georgia;
    padding: 16px 16px;
  }

  .bold-on-hover a:hover {
    all:unset;
    font-weight: bolder;
    color: #003049;
  }
  .bold-on-hover{
    all:unset;
    
    
  }

  
  
  


  
