@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Cormorant+Garamond:ital,wght@0,300;1,400&family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Cormorant+Garamond:ital@1&family=Inter:wght@600;800&display=swap');

.dot {
    height: 105px;
    width: 105px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    top: 50%;
  }

.center {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#notes-block {
    /*border: 2px solid green;*/
    margin:10px;
    font-size: smaller;
    font-family: 'Century Gothic';
    line-height: 90%;

}

#summary-experience-block {
    /*border: 2px solid green;*/
    margin:40px;
    margin-left:50px;
    margin-right:50px;
    font-size: 11px;
    font-family: 'Century Gothic';
    line-height: 90%;
    padding:20px;

}

.summary-experience-block-title {
    font-family: 'INTER';
    font-size: 17px;
    font-style:italic;
    line-height: 90%;
    color: #D13A32;

}
#main-center-name-block {
    /*border: 2px solid green;*/
    margin:10px;
    font-family: 'Cormorant Garamond';
    font-weight:800;
    font-style:italic;
    font-size:larger;
    margin: auto;
    padding:10px;
    width:100%;
    max-width:600px;
}

#more {
    /*border: 2px solid green;*/
    font-family: 'Cormorant Garamond';
    font-weight:800;
    font-style:italic;
    font-size:18px;
    text-align:center;
}

#more-parent {
    /*border: 2px solid green;*/
    margin: 0 auto;
    width:100px;
}
.sticky{
    position:sticky;
    top: 0px;
    background-color: #D1DFFF;
    color: #fff;
    padding: 13px;
    padding-bottom:8px;
    text-align:center;
    font-size:18px;
    z-index: 10;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
        
}
li {
    display: inline;
    float: right;
    margin-right:5px;
    margin-left:10px;

}
a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    color:#D1DFFF;
    text-decoration: none;
    font-family:'Cormorant Garamond';
    font-style:italic;
    font-weight:800;

}
.ellipse:hover {
    background-color: #9a2822;
}
.ellipse{
    background-color: #D13A32;
    height: 40px;
    width: 88px;
    border-radius: 50%; 
    margin-top:1px;
    margin-bottom:5px;
}
.ellipse-more:hover {
    background-color: #aac4ff;
}
.ellipse-more{
    background-color: #D1DFFF;
    height: 40px;
    width: 88px;
    border-radius: 50%; 
}
    
#email-hove:hover {
    color: #9a2822;
}


.col-md-6 {
    border:2px solid  black;
    margin-top:10px; 
    padding-bottom:10px;

}

.vert-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74vh;
    min-height:300px;
    
}